.header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.headerDark {
    background-color: black;
}

.headerBox {
    display: flex;
    margin: 0 auto;
}

.headerCategories {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .headerCategories {
        margin-left: auto;
    }
}

.headerLogo {
    margin-left: 30px;
    width: 220px;
    height: 220px;
}

@media (max-width: 1200px) {
    .headerLogo {
        margin-left: 20px;
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 992px) {
    .headerLogo {
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .headerLogo {
        width: 160px;
        height: 160px;
    }
}

.headerUl {
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .headerUl {
        margin-left: 20px;
    }
}

.headerUl li {
    display: inline-block;
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

@media (max-width: 1400px) {
    .headerUl li {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .headerUl li {
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    .headerUl li {
        margin-left: 10px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .headerUl li {
        display: none;
    }
}

.headerUlDark li {
    color: white;
}

.headerUl li:after {
    display: block;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.headerUl li:hover:after,
.headerUl li:focus:after {
    width: 100%;
}

.headerFavouritesLogo {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .headerFavouritesLogo {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .headerFavouritesLogo {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .headerFavouritesLogo {
        width: 60px;
        height: 60px;
    }
}

.headerSwitcher {
    margin-left: 15px;
}