.header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.headerDark {
    background-color: black;
}

.headerBox {
    display: flex;
    margin: 0 auto;
}

.headerCategories {
    display: flex;
    align-items: center;
}

.headerLogo {
    margin-left: 30px;
    width: 220px;
    height: 220px;
}

.headerUl li {
    display: inline-block;
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.headerUlDark li {
    color: white;
}

.headerUl li:after {
    display: block;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.headerUl li:hover:after,
.headerUl li:focus:after {
    width: 100%;
}

.headerFavouritesLogo {
    margin-left: 30px;
    width: 80px;
    height: 80px;
}

.headerSwitcher {
    margin-left: 15px;
}