.newsToReadItemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid;
}

.newsToReadItemTitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.newsToReadItemAuthor {
    font-weight: 700;
    font-style: italic;
    margin-top: 10px;
}

.newsToReadItemPubDate {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: var(--accent-color);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:focus { outline:0; }