.newsListLink {
    text-decoration: none;
    margin-bottom: 15px;
}

.newsListLink:hover {
    transition: 0.5s;
    transform: scale(0.95);
}

.newsListLink:not(:hover) {
    transition: 0.5s;
}

.newsListLink:hover, .newsListLink:visited, .newsListLink:active, .newsListLink:link {
    color: inherit;
}

.newsListCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .newsListCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .newsListCards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.newsListCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.newsListCardDark {
    background-color: black;
}

.newsListCardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsListCardImg {
    min-width: 100%;
    min-height: 100%;
}

.newsListCardTitle {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1200px) {
    .newsListCardTitle {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .newsListCardTitle {
        font-size: 18px;
    }
}

.newsListCardTitleDark {
    color: white;
}

@media (max-width: 992px) {
    .newsListCardDescText {
        font-size: 16px;
    }
}

.newsListCardDescTextDark {
    color: var(--text-color);
}

.newsListSearch {
    padding-top: 20px;
    padding-bottom: 20px;
}